.product_container {
  display: flex;
  flex-wrap: wrap;
  padding-top: 180px;
  justify-content: flex-end;
}
.list {
  flex-direction: column;
  padding-top: 90px;
  margin-left: 60px;
  margin-right: 60px;
}
