@import "../../variables.scss";

.button {
  border: 6px solid red;
  border-radius: 8px;
  padding: 5px 20px;
  color: #ffffff;
  font-size: 20px;
  background-color: red;

  &:hover {
    cursor: pointer;
    transform: scale(1.1);
  }
}
